USE [master]
GO
/****** Object:  Database [PlanetSimulation_DB]    Script Date: 26/04/2026 10:20:27 CH ******/
CREATE DATABASE [PlanetSimulation_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlanetSimulation_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlanetSimulation_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlanetSimulation_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlanetSimulation_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlanetSimulation_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlanetSimulation_DB]
GO
/****** Object:  Table [dbo].[Planets]    Script Date: 26/04/2026 10:20:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planets](
	[PlanetID] [int] IDENTITY(1,1) NOT NULL,
	[PlanetName] [nvarchar](50) NULL,
	[Radius_km] [float] NULL,
	[Mass_kg] [float] NULL,
	[TextureURL] [nvarchar](255) NULL,
	[DistanceFromSun] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoutingHistory]    Script Date: 26/04/2026 10:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoutingHistory](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[StartPointName] [nvarchar](100) NULL,
	[EndPointName] [nvarchar](100) NULL,
	[SatelliteCount] [int] NULL,
	[TotalDistance] [float] NULL,
	[ExecutionTime] [float] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaceObjects]    Script Date: 26/04/2026 10:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaceObjects](
	[ObjectID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectName] [nvarchar](100) NULL,
	[PlanetID] [int] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Altitude] [float] NULL,
	[OrbitSpeed] [float] NULL,
	[ObjectType] [nvarchar](50) NULL,
	[TextureURL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Planets] ON 

INSERT [dbo].[Planets] ([PlanetID], [PlanetName], [Radius_km], [Mass_kg], [TextureURL], [DistanceFromSun]) VALUES (16, N'Mặt Trời', 696340, 1.989E+30, N'https://www.solarsystemscope.com/textures/download/2k_sun.jpg', 0)
INSERT [dbo].[Planets] ([PlanetID], [PlanetName], [Radius_km], [Mass_kg], [TextureURL], [DistanceFromSun]) VALUES (17, N'Sao Thủy', 2440, 3.301E+23, N'https://www.solarsystemscope.com/textures/download/2k_mercury.jpg', 57.9)
INSERT [dbo].[Planets] ([PlanetID], [PlanetName], [Radius_km], [Mass_kg], [TextureURL], [DistanceFromSun]) VALUES (18, N'Sao Kim', 6052, 4.867E+24, N'https://www.solarsystemscope.com/textures/download/2k_venus_surface.jpg', 108.2)
SET IDENTITY_INSERT [dbo].[Planets] OFF
GO
SET IDENTITY_INSERT [dbo].[SpaceObjects] ON 

INSERT [dbo].[SpaceObjects] ([ObjectID], [ObjectName], [PlanetID], [Latitude], [Longitude], [Altitude], [OrbitSpeed], [ObjectType], [TextureURL]) VALUES (1, N'Vinasat-1', 19, 10, 105, 35786, 3.0748781644889811, N'Vệ tinh', N'https://as2.ftcdn.net/v2/jpg/00/73/45/30/1000_F_73453081_yWlI8zYx6A5FvR1F6hE2G9p9zY7I2l3Q.jpg')
INSERT [dbo].[SpaceObjects] ([ObjectID], [ObjectName], [PlanetID], [Latitude], [Longitude], [Altitude], [OrbitSpeed], [ObjectType], [TextureURL]) VALUES (2, N'ISS', 19, 51.6, 0, 408, 7.667961866090625, N'Trạm vũ trụ', N'https://as2.ftcdn.net/v2/jpg/00/73/45/30/1000_F_73453081_yWlI8zYx6A5FvR1F6hE2G9p9zY7I2l3Q.jpg')
SET IDENTITY_INSERT [dbo].[SpaceObjects] OFF
GO
ALTER TABLE [dbo].[RoutingHistory] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SpaceObjects]  WITH CHECK ADD FOREIGN KEY([PlanetID])
REFERENCES [dbo].[Planets] ([PlanetID])
GO
USE [master]
GO
